
@{
    ViewBag.Title = "Galeria";
}

<h2>Galeria</h2>
<br />


<div class="row">
    <div class="col-md-3">
        <h6 style="text-align: center;"> @Html.ActionLink("Ventanas", "GaleriaVentanas", "Home", new { style = "color: black;" })</h6>
        <img src="~/imagenes/P142284.jpg" style="width:250px;" />
           
        
    </div>

    <div class="col-md-3">
        <h6 style="text-align: center;">Aluminios</h6>
        <img src="~/imagenes/P142284.jpg" style="width:250px;" />
    </div>

    <div class="col-md-3">
        <h6 style="text-align: center;">Puertas</h6>
        <img src="~/imagenes/P142284.jpg" style="width:250px;" />
    </div>

    <div class="col-md-3">
        <h6 style="text-align: center;">Estructuras Metalicas</h6>
        <img src="~/imagenes/P142284.jpg" style="width:250px;" />
    </div>
</div>

