<link href="~/Content/css/galeria.css" rel="stylesheet" />
@{
    ViewBag.Title = "GaleriaVentanas";
}

<h2>Ventanas</h2>

<ul class="galeria">
    <li><a href="#img1"><img src="~/imagenes/fabricacion-ventanas.png" /></a></li>
    <li><a href="#img2"><img src="~/imagenes/fabricacion-ventanas.png" /></a></li>
    <li><a href="#img3"><img src="~/imagenes/fabricacion-ventanas.png" /></a></li>
    <li><a href="#img4"><img src="~/imagenes/fabricacion-ventanas.png" /></a></li>
    <li><a href="#img5"><img src="~/imagenes/fabricacion-ventanas.png" /></a></li>
</ul>


<div class="modal" id="img1">
    <h1>Ventanas</h1>
    <div class="imagen">
        <a href="#img5">&#60;</a>
        <a href="#img2"><img src="~/imagenes/fabricacion-ventanas.png" /></a>
        <a href="#img2">></a>
    </div>
    <a class="cerrar" href="">X</a>
</div>

<div class="modal" id="img2">
    <h1>Ventanas</h1>
    <div class="imagen">
        <a href="#img1">&#60;</a>
        <a href="#img3"><img src="~/imagenes/fabricacion-ventanas.png" /></a>
        <a href="#img3">></a>
    </div>
    <a class="cerrar" href="">X</a>
</div>

<div class="modal" id="img3">
    <h1>Ventanas</h1>
    <div class="imagen">
        <a href="#img2">&#60;</a>
        <a href="#img4"><img src="~/imagenes/fabricacion-ventanas.png" /></a>
        <a href="#img4">></a>
    </div>
    <a class="cerrar" href="">X</a>
</div>

<div class="modal" id="img4">
    <h1>Ventanas</h1>
    <div class="imagen">
        <a href="#img3">&#60;</a>
        <a href="#img5"><img src="~/imagenes/fabricacion-ventanas.png" /></a>
        <a href="#img5">></a>
    </div>
    <a class="cerrar" href="">X</a>
</div>

<div class="modal" id="img5">
    <h1>Ventanas</h1>
    <div class="imagen">
        <a href="#img4">&#60;</a>
        <a href="#img1"><img src="~/imagenes/fabricacion-ventanas.png" /></a>
        <a href="#img1">></a>
    </div>
    <a class="cerrar" href="">X</a>
</div>